.top-bg{
    background-color: #F0FFF0;
}
.row{
    margin-top: 80px;
    padding: 20px 40px;
}
.col-6 img{
    padding: 20px 20px;
    width: 554px;
    height: 346px;
    gap: 0px;
    opacity: 0px;
}
#sing-in{
    width: Hug (104px)px;
    height: Hug (43px)px;
    padding: 12px 28px;
    border-radius: 33px;
    background-color: #21B573;
    color: white;

}
.typography{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
}
span{
    color: #21B573;
}
p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #6C6B6B;
}
.get-start-button{
    border: none;
    border-radius: 33px;
    background-color: #21B573;
    color: white;
    padding: 12px 36px;
}